body{
		margin:0%;
		padding:1%;
		font-size:150%;
		background-color: rgb(195, 195, 241);
		width: auto;
	}
	
	footer{
		background-color: rgb(120, 120, 180);
	}
	a{
		color: darkblue
	}
	
	h1{
		font-size: 2em; 
		font-weight: bold;
		color: rgb(253, 253, 255);
		background-color: cadetblue;
	}
	
	h2{
		font-size: 2em; 
		background-color: rgb(253, 253, 255);
		font-weight: bold;
	}
	
	h1, h2 {
		padding: 10px;
	}
	
	header, main, h1, footer, nav{
		border: 2px solid grey;
		margin: 20px 0;
	}

	.headshot-image > img{
	  border: 5px #50C7C7 solid;
	  margin: auto;
	  width: auto;
	  display: flex;
	  justify-content: center;
	}
	.container{
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		  grid-template-rows: auto auto auto auto auto;
		  grid-row-gap: 15px;
	  }
	.intern-logos{
		display: grid;
		object-fit: cover;
		justify-content: space-around;
		align-self: auto;
	  	grid-template-rows: repeat(1, 100px); 
		justify-content: center;
		grid-template-columns: repeat(2, 200px); 
	  }

	.mobile-text{
		display: visible;
	}
	  .internimg{
		  max-width: 100px;
		  max-height: 100px;
		  position: absolute;
		  justify-content: center;	  
	  }

	.horizon-logo > img{
		grid-column: 1/-1;
		border: 5px #50C7C7 solid;
		max-height: 45%;
		align-content: center;
		max-width: 45%;	
	}

	  .proj-pics > img{
		display:block;
		border: 5px #50C7C7 solid;
		max-height: 100%;
		margin: auto;
		max-width: 100%;
		justify-content: center;
	  }
	
	.resume-image > img{
		border: 5px #50C7C7 solid;
		margin: auto;
		width: 300px;
		display: flex;
		/* justify-content: center;
		text-align: center; */
	  }
	
	  .bottom-images > img{
		margin: 12px;
		text-align: center;
		max-height: 10%;
		justify-content: center;
		max-width: 10%;
	  }

	.askme-image > img{
		margin: auto;
		width: auto;
		display: flex;
	}
	
	.skip a{
		color: #123C69;
		background: white;
		left: 0;
		padding: 7px;
		-webkit-transition: top 1s ease-out;
		transition: top 1s ease-out;
		z-index: 1;
		position: absolute;
		top: -50px;
		}
	.skip a:focus{
		position: absolute;
		top: 10px;
		}
	
		
		nav{
			background-color: rgb(120, 129, 185);
			text-align: center;
		  }
	
		  .nav_item a{
			color: black;
			text-decoration: none;
		  }
		  
		  .nav_item a:hover, a:focus{
			color: #123C69;
			text-decoration: underline;
			-webkit-text-decoration-style: dashed;
			text-decoration-style: dashed;
		  }

		.current_item a{
			background-color: #50C7C7;
			box-shadow: 1px 1px 1px 1px #ccc;
			color:black;
			text-transform: uppercase;
			font-size: 24px;
		  
		  }

	nav li{
		padding:0px;
		margin: auto;
		background-color:cadetblue;
		border:1px solid black;
		display: block;
	}

	nav ul{
		display: flex;
	}
/* 
Your code here. making animation */
	#logo{
	   animation-name: bounceIn;
	   animation-duration: 8s;
	   animation-iteration-count: 1;
	   margin: inherit;
	 }

/* THESE GRID STYLES ARE FOR THE MOBILE VIEW ONLY  */

.wrapper {
	display: grid;
	justify-content: space-around;
	grid-template-columns: repeat(2, 200px); 
  }

  .box:nth-child(odd){
	background-color: cadetblue;
	border: 1Px solid black;
	font-weight: bold;

  }
  .box:nth-child(even){
	background-color:cadetblue;
	border: 1px solid black;
	font-weight: bold;
  }
  .box {
	font-size: 100%;
	padding: 25px 25px;
	text-align:center;
  }

  /* CAROUSEL CODE */
  .carousel {
	  position: relative;
	  height: 600px;
	  width: 80%;
	  margin: 0 auto;
  }

  .carousel_images{
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
  }

  .carousel_track_container{
	  background: lightblue;
	  height: 100%;
	  position: relative;
	  overflow: hidden;
  }

  .carousel_track{
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  position: relative;
	  height: 100%;
	  transition: transform 250ms ease-in;
  }
  
  .carousel_slide{
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  width: 100%;
  }

  .carousel_button{
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  background: transparent;
	  border: 0;
	  cursor: pointer;
  }

  .carousel_button img{
	width: 12px;
  }

  .carousel_button--left{
	  left: -40px;
  }

  .carousel_button--right{
	  right: -40px;
  }

  .carousel_nav{
	  /* background: pink; */
	  display: flex;
	  justify-content: center;
	  padding: 10px 0;
  }

  .carousel_indicator{
	  border: 0;
	  border-radius: 50%;
	  width: 15px;
	  height: 15px;
	  background:rgb(0,0,0,0.3);
	  margin: 0 12px;
	  cursor: pointer;
  }

  .carousel_indicator.current-slide{
	  background: rgba(0,0,0,0.75);
  }

  .is-hidden{display: none;

}

  @media only screen and (min-width: 600px) {
	/* For tablets: */

	.mobile-text{
		display: none;
	}

	.wrapper {
		display: grid;
		bottom: 80px;
		width: 100%;
		justify-content: space-around;
		grid-template-columns: repeat(2, 400px); 
	  }

	footer{
		bottom: 30px;
		width: 100%;
		position: static;
	}

	.intern-logos{
		display: grid;
		object-fit: cover;
		justify-content: space-around;
		align-self: auto;
		grid-template-rows: repeat(4, 50px); 
	  	grid-template-columns: repeat(4, 200px); 
		justify-content: center;
	  }

	  .internimg{
		  max-width: 150px;
		  max-height: 150px;
		  position: absolute;
		  justify-content: center;
		  
	  }

	  .resume-image > img{
		border: 5px #50C7C7 solid;
		margin: auto;
		width: auto;
		display: block;
		justify-content: center;
	  }

	  .flip-card {
		background-color: transparent;
		/* width: 300px; */
		/* height: 200px; */
		/* border: 1px solid #f1f1f1; */
		perspective: 1000px; /* Remove this if you don't want the 3D effect */
		border: 5px #50C7C7 solid;
		margin: auto;
		width: auto;
		justify-content: center;
	  }
	  
	  
	  /* This container is needed to position the front and back side */
	  .flip-card-inner {
	border: 5px #50C7C7 solid;
		margin: auto;
		width: auto;
		display: flex;
		justify-content: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	  }
	  
	  /* Do an horizontal flip when you move the mouse over the flip box container */
	  .flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	  }
	  
	  /* Position the front and back side */
	  .flip-card-front, .flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	  }
	  
	  /* Style the front side (fallback if image is missing) */
	  .flip-card-front {
		border: 5px #50C7C7 solid;
		margin: auto;
		width: auto;
		display: flex;
		justify-content: center;
	  }
	  
	  /* Style the back side */
	  .flip-card-back {
		border: 5px #50C7C7 solid;
		margin: auto;
		width: auto;
		display: flex;
		justify-content: center;
		transform: rotateY(180deg);
	  }


	  .parallax {
		/* The image used */
		background-image: url("images/waves.jpeg");
	  
		/* Full height */
		height: 100%;
	  
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	  }

  }

  @media only screen and (min-width: 1000px) {
	  /* For laptops */

	  .wrapper {
		display: grid;
		justify-content: space-around;
		width: 100%;
		grid-template-columns: repeat(2, 700px); 
	  }

	  .mobile-text{
		display: none;
	}

  }


/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
   @media screen and (prefers-reduced-motion: reduce){
	/*Turn off scroll*/
	html{
		scroll-behavior: auto; /* Removes scroll animation */
	}

	#logo{
		animation: none;
	  }
	  .flip-card:active .flip-card-inner {
	   transform: None;
	 }
  
	/*Turn off parallax*/
	header{
	  background-attachment: initial;
	}
  }

/* 
  animation */
  @-webkit-keyframes bounceIn{
	from{ 
	  width: 25px;
	  opacity: 0;
	}
	to{
	  width: 150px;
	  opacity: 1;
	}
	/*Your code here.*/
  
  }
  
  @keyframes bounceIn{
	/*Your code here.*/
	from{
	  width: 25px;
	  opacity: 0;
	}
	to{
	  width: 150px;
	  opacity: 1;
	}
  } 
  



  


