body{
		margin:0%;
		padding:1%;
		font-size:150%;
		background-color: rgb(195, 195, 241);
		width: fit-content;
	}
	
	footer{
		background-color: rgb(120, 120, 180);
	}
	a{
		color: darkblue
	}
	
	/*Make the h1 heading bigger with a bold font*/
	h1{
		font-size: 2em; 
		font-weight: bold;
		color: rgb(253, 253, 255);
		background-color: cadetblue;
	}
	
	
	/*Make the h2 heading match h1*/
	h2{
		font-size: 2em; 
		background-color: rgb(253, 253, 255);
		font-weight: bold;
	}
	
	/*Improve the spacing for paragraphs AND headings*/
	h1, h2 {
		padding: 10px;
	}
	
	/*Add borders around the main components and some
	space too*/
	header, main, h1, footer, nav{
		border: 2px solid grey;
		margin: 20px 0;
	}


	.headshot-image > img{
	  border: 5px #50C7C7 solid;
	  margin: auto;
	  width: auto;
	  display: flex;
	  justify-content: center;
	}
	.container{
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		  grid-template-rows: auto auto auto auto auto;
		  grid-row-gap: 15px;
	  }
	.intern-logos{
		display: grid;
		object-fit: cover;
		justify-content: space-around;
		align-self: auto;
		/* grid-template-rows: repeat(4, 50px);  */
	  	grid-template-rows: repeat(2, 100px); 
		justify-content: center;
		grid-template-columns: repeat(2, 200px); 
	  }

	  .internimg{
		  max-width: 100px;
		  max-height: 100px;
		  position: absolute;
		  justify-content: center;
		  
	  }

	.horizon-logo > img{
		grid-column: 1/-1;
		border: 5px #50C7C7 solid;
		max-height: 45%;
		align-content: center;
		max-width: 45%;	
	}

	/* .myfavicon {
	max-width: 2%;
	max-height: 2%;
	align-content: flex-end;
	} */

	 

	  .proj-pics > img{
		display:block;
		border: 5px #50C7C7 solid;
		max-height: 100%;
		margin: auto;
		max-width: 100%;
		justify-content: center;
	  }
	
	.resume-image > img{
		border: 5px #50C7C7 solid;
		margin: auto;
		width: min-content;
		display: block;
		justify-content: center;
	  }
	
	  .bottom-images > img{
		margin: 12px;
		text-align: center;
		/* margin-left: auto;
		margin-right: auto; */
		max-height: 10%;
		justify-content: center;
		max-width: 10%;
	  }
	
	.skip a{
		color: #123C69;
		background: white;
		left: 0;
		padding: 7px;
		-webkit-transition: top 1s ease-out;
		transition: top 1s ease-out;
		z-index: 1;
		position: absolute;
		top: -50px;
		}
	.skip a:focus{
		position: absolute;
		top: 10px;
		}
	
		
		nav{
			background-color: rgb(120, 129, 185);
			text-align: center;
			/* padding: 7px; */
		  }
	
		  .nav_item a{
			color: black;
			text-decoration: none;
		  }
		  
		  .nav_item a:hover, a:focus{
			color: #123C69;
			text-decoration: underline;
			-webkit-text-decoration-style: dashed;
			text-decoration-style: dashed;
		  }
	
		  /*need to add something so it's clear which page we are on*/
		.current_item a{
			background-color: #50C7C7;
			box-shadow: 1px 1px 1px 1px #ccc;
			color:black;
			text-transform: uppercase;
			font-size: 24px;
		  
		  }
	/*Change the styling for all of the list 
	items in the nav section*/
	nav li{
		padding:0px;
		margin: auto;
		background-color:cadetblue;
		border:1px solid black;
		display: block;
		/* width: 20%; */
	}

	nav ul{
		display: inline-flex;
	}

/* THESE GRID STYLES ARE FOR THE MOBILE VIEW ONLY  */

.wrapper {
	display: grid;
	/* grid-template-columns: auto auto auto; */
	justify-content: space-around;
	grid-template-columns: repeat(2, 200px); 
  /*   grid-template-columns: 1fr 1fr 1fr 1fr;  */
  /*   grid-template-columns: 1fr 2fr 1fr;  */	
  }

  .box:nth-child(odd){
	background-color: cadetblue;
	border: 1Px solid black;
	font-weight: bold;

  }
  .box:nth-child(even){
	background-color:cadetblue;
	border: 1px solid black;
	font-weight: bold;
  }
  .box {
	font-size: 100%;
	padding: 25px 25px;
	text-align:center;
  }
  
  @media only screen and (min-width: 600px) {
	/* For tablets: */
	.wrapper {
		display: grid;
		bottom: 80px;
		width: 100%;
		justify-content: space-around;
		grid-template-columns: repeat(2, 400px); 
	  }

	footer{
		bottom: 30px;
		width: 100%;
		position: static;
	}

	.intern-logos{
		display: grid;
		object-fit: cover;
		justify-content: space-around;
		align-self: auto;
		/* grid-template-rows: repeat(4, 50px);  */
	  	grid-template-columns: repeat(4, 200px); 
		justify-content: center;
	  }

	  .internimg{
		  max-width: 150px;
		  max-height: 150px;
		  position: absolute;
		  justify-content: center;
		  
	  }

  }
/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
   @media screen and (prefers-reduced-motion: reduce){
	/*Turn off scroll*/
	html{
		scroll-behavior: auto; /* Removes scroll animation */
	}
  
	/*Turn off transition*/
	/* .skip a{
	  -webkit-transition: initial; 
	  transition: initial; 
	} */

  
	/*Turn off parallax*/
	header{
	  background-attachment: initial;
	}
  }

  


